.modal  {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, .7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .content {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn {
      padding: 10px 15px;
      border: 1px solid #ccc;
      cursor: pointer;
      transition: background-color 0.1s ease;

      &:hover {
        background-color: rgba(#000, .2);
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
